
    .footer-contact{
        display: flex;
        justify-content:flex-start;
        padding: 50px 0;
        width: 90%;
        margin: 0 auto;
        @media (min-width: 640px){
            width: 80%; 
        }
        @media (min-width: 990px){
            width: 60%; 
        }
        .footer-txt{
            display: inline-block;
            width: 50%;
            font-family: Lato;
            font-size: 14px;
            color: $darkGreyColor;
            span{
                font-family: Lato;
                font-size: 16px;
                line-height: 35px;
                }
            a{
                color: $greyColor;
                font-size: 14px;
                line-height: 26px;
                display: block;
                font-family: Lato;
                text-decoration: none;
                &:hover{
                    color:$blueColor;
                }
            }
        }
        @media (min-width: 640px){
        .part1, .part2{
            width: 33%;
            } 
        }
        .button{
            display: none;
            width: 20%;
        @media (min-width: 990px){
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            margin-left: auto;
            .button1{
                padding-bottom: 10px;
                a{
                    padding:11px 41px;
                }
            }
            a{
                font-size: 11px;
                display: inline-block;
                
            }
            


        }
        }
    
    }

