body{
    font-family: Lato;
}

img{
    display: block;
    max-width: 100%;
}

h1{
    display: block;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 1.5px;
    color: #fdfdfd;
}

h2{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
}

h3{
    font-weight: normal;
    font-size: 20px;
    line-height: 1.56;
    color: $darkGreyColor;
}

h4{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1.7px;
    text-align: center;
    color: $blueColor;
    text-transform: uppercase;
}

h5{
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    text-align: left;
    font-weight: 600;
    line-height: 1.47;
    padding: 0;
    letter-spacing: 1.3px;
    color: $blueColor;
}

p{
    font-size: 16px;
    line-height: 1.7;
    color: $greyColor;
}

.button{
    cursor: pointer;
    a{
    color: white;
    text-transform: uppercase;
    background-color: $fushia;
    border-radius: 5px;
    padding: 11px 20px;
    display: inline-block;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-decoration: none;
    outline: none;
    transition: 0.2s all linear;
    text-align: center;
    &:hover{
        background: darken($fushia, 8%)
    }
    }
}